@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    background-color: #abbda7;
    margin: 0;
}
/* Navigation Bar */
nav{
    background-color: #8fa382;
    border-bottom: 5px solid #fff;
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
}
.logo{
    height: 100px;
    float: left;
}
.navbar{
    list-style-type: none;
    float: right;
}
.navlinks{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    display: inline-block;
    margin: 15px;
    margin-top: 23px;
}
nav ul a{
    color: #000;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 5px;
    text-decoration: none;
}
.navlinks a:hover{
    text-transform:uppercase;
    background-color: #fff;
    color: #8fa382;
}
/* Top Section */
.section1{
    background-color: #abbda7;
    float: left;
}
.row{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: block;
    margin-left:auto;
    margin-right: auto;
}
.column{
    margin: 2%;
    width: 46%;
    border:none;
    float: left;
    height: 400px;
}
.column1{
    background-image: url(../img/lighthouse.jpg);
    /* picture of Pigeon Point Lighthouse from Sept. 2019 */
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -15px;
}
.column2{
    font-family: 'Roboto', sans-serif;
    color: #3A475E;
    font-size: 35px;
    text-align:center;
}
/* About Dev */
.section2{
    background-color: #3A475E;
    margin: 2%;
}
.dev, .aboutme{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 2%;
    clear: both;
}
/* .dev, .aboutme{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 2%;
    clear: both;
} */
.aboutme{
    font-size: 25px;
    text-align: center;
}
.merow{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: block;
    margin-left:auto;
    margin-right: auto;
}
.mec3{
    width: 21%;
    /* border:5px solid #fff; */
}
.felton, .dorito, .thramily{
    width: 100%;
}
.mec3, .mec{
    margin: 2%;
    float: left;
    height: 400px;
}
.mec{
    width: 45%;
}
.us{
    height: 100%;
    width: 100%;
}



/* About Site */
.section3{
    background-color: #3A475E;
    margin: 2%;
    clear: both;
}
.site{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 2%;
    text-align: right;
}




/* Footer */
.footer{
    background-color: #3A475E;
    border-top: 5px solid #fff;
    height: 150px;
    margin: 0;
    clear: both;
}
.frow{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.fc{
    margin: 0 2.2%;
    height: 150px;
    width: 28%;
    background-color: #3A475E;
    float: left;
}
.flogo{
    height: 50px;
    border-radius: 100%;
    margin-top: 25px;
    margin-left: 100px;
}
.copyhw{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 13px;
    margin-left: 45px;
    padding-top: 10px;
}
.fa-hippo{
    color:#fff;
    margin: 70px 0 0 47%;
}
.socials{
    text-align: right;
}
.find{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 20px;
    margin-top: 40px;
    margin-right: 24px;
}
.soc:link, .soc:visited{
    color: #fff;
}
.soc:hover{
    color:#abbda7;
}
.soc:active{
    color: #8fa382;
}
.fa-brands{
    margin: 5px;
}
