@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    background-color: #abbda7;
    margin: 0;
}
/* Navigation Bar */
nav{
    background-color: #8fa382;
    border-bottom: 5px solid #fff;
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo{
    height: 100px;
    float: left;
}
.navbar{
    list-style-type: none;
    float: right;
}
.navlinks{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    display: inline-block;
    margin: 15px;
    margin-top: 23px;
}
nav ul a{
    color: #000;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 5px;
    text-decoration: none;
}
.navlinks a:hover{
    text-transform:uppercase;
    background-color: #fff;
    color: #8fa382;
}

/* Body */
h1{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    color: #3A475E;
    font-size: 300%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    width: 1000px;
}
.row{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: block;
    margin-left:auto;
    margin-right: auto;
}
.column{
    margin: 2%;
    width: 46%;
    border:none;
    float: left;
    height: 1000px;
}
.column1{
    font-family: 'Roboto', sans-serif;
    color: #3A475E;
    font-weight: 700;
    font-size: 150%;
    text-align: center;
}
p, .map{
    position: relative;
}
.blogo{
    position:relative;
    border-radius: 50%;
    height: 200px;
    margin: 25px;
}
.ee{
    margin: 0 25%;
    color:#abbda7;
}
.ee:hover{
    color: #3A475E;
}

/* Footer */
.footer{
    background-color: #3A475E;
    height: 150px;
    margin: 0;
    clear: both;
}
.frow{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.fc{
    margin: 0 2.2%;
    height: 150px;
    width: 28%;
    background-color: #3A475E;
    float: left;
}
.flogo{
    height: 50px;
    border-radius: 100%;
    margin-top: 25px;
    margin-left: 100px;
}
.copyhw{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 13px;
    margin-left: 45px;
    padding-top: 10px;
}
.hippo{
    color:#fff;
    margin: 70px 0 0 47%;
}
.socials{
    text-align: right;
}
.find{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 20px;
    margin-top: 40px;
    margin-right: 24px;
}
.soc:link, .soc:visited{
    color: #fff;
}
.soc:hover{
    color:#abbda7;
}
.soc:active{
    color: #8fa382;
}
.fa-brands{
    margin: 5px;
}
