@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    background-color: #abbda7;
    margin: 0;
}
nav{
    background-color: #8fa382;
    border-bottom: 5px solid #fff;
    height: 100px;
    width: 100%;
    position: sticky;
}
.logo{
    height: 100px;
    float: left;
}
.navbar{
    list-style-type: none;
    float: right;
}
.navlinks{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin: 15px;
    margin-top: 23px;
}
nav ul a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.navlinks a:hover{
    text-transform:uppercase;
    background-color: #fff;
    color: #8fa382;
}
.hero{
    background-color: grey;
    height: 500px;
    width: 100%;
}
.hero-img{
    height: 500px;
    width: 100%;
    z-index: 1;
}
.gif{
    height: 100px;
    margin-left: 45%;
    z-index: 2;
    position: absolute;
    left: 1%;
    bottom: 55%;
}

