@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    background-color: #abbda7;
    margin: 0;
}
/* Navigation Bar */
.navbar{
    background-color: #8fa382;
    border-bottom: 5px solid #fff;
    height: 100px;
    width: 100%;
    position: sticky;
    position: fixed;
    top: 0; 
}
.logo{
    height: 100px;
    float: left;
}
.navbarcopy{
    list-style-type: none;
    float: right;
}
.navlinks{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    display: inline-block;
    margin: 15px;
    margin-top: 23px;
}
.navlinks a{
    color: #000;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 5px;
    text-decoration: none;
}
.navlinks a:hover{
    text-transform:uppercase;
    background-color: #fff;
    color: #8fa382;
}
/* Hero Section */
.hero{
    background-image: 
    linear-gradient(to right, rgba(255,255,255,0.5),rgba(255,255,255,0.5)), 
    url("../img/riccardo-trimeloni-lc5iIZ7UO1w-unsplash.jpg");
    /* Photo by Riccardo Trimeloni on Unsplash  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-color: #808080;
    height: 400px;
    width: 100%;
    border-bottom: 5px solid #fff;
}
.herotext{
    margin-top: 80px;
}
h1{
    font-family: 'Roboto', sans-serif;
    color: #3A475E;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    width: 640px;
    letter-spacing: 60px;
    font-size: 60px;
    font-weight: 600;
}
.gif{
    height: 150px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: -15px;
}

/* Test Text */
.text{
    font-family: 'Roboto', sans-serif;
    color: #3A475E;
    font-size: 300%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    width: 1000px;
}

/* Column Section */
.row{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.column{
    margin: 2.2%;
    height: 500px;
    width: 28%;
    background-color: #fff;
    border: 3px solid #3A475E;
    float: left;
}
.ctext{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: #fff;
    background-color:#3A475E;
}
.column1{
    background-image: 
    linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("../img/Idaho.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.column1:hover{
    background-image: 
    /* linear-gradient(to right, rgba(255,255,255,0.5),rgba(255,255,255,0.5)),  */
    url("../img/Idaho.jpg");
}
.column2{
    background-image: 
    linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("../img/desk.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.column2:hover{
    background-image: 
    /* linear-gradient(to right, rgba(255,255,255,0.5),rgba(255,255,255,0.5)),  */
    url("../img/desk.jpg");
}
.column3{
    background-image: 
    linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("../img/swing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.column3:hover{
    background-image: 
    /* linear-gradient(to right, rgba(255,255,255,0.5),rgba(255,255,255,0.5)),  */
    url("../img/swing.jpg");
}